@model SPRINGSITE.WEB.ChangePasswordModel
@{
    ViewBag.Title = "Reset Password";
}
<div id="reset-password">
    <hgroup class="title">
        <h1>@ViewBag.Title.</h1>
        <h2>Use the form below to reset your password.</h2>
    </hgroup>
    <p class="message-info">
        New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength
        characters in length.
    </p>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
        @Html.HiddenFor(m => m.UserName)
        @Html.HiddenFor(m => m.OldPassword)
        <fieldset>
            <ol>
                <li>
                    @Html.LabelFor(m => m.NewPassword)
                    @Html.PasswordFor(m => m.NewPassword)
                    @Html.ValidationMessageFor(m => m.NewPassword)
                </li>
                <li>
                    @Html.LabelFor(m => m.ConfirmPassword)
                    @Html.PasswordFor(m => m.ConfirmPassword)
                    @Html.ValidationMessageFor(m => m.ConfirmPassword)
                </li>
            </ol>
            <input type="submit" value="Reset password" />
        </fieldset>
    }
</div>
